[include]
	path = ~/.gitconfig_local
[core]
	editor = code --wait
[init]
	defaultBranch = main
[pull]
	rebase = false
[alias]
	# Commit on top of remote branch
	pr = pull --rebase

	# List aliases.
	aliases = config --get-regexp alias

